@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";


::view-transition {
    animation: none;
    mix-blend-mode: normal;
}

::view-transition-old(preview) {
    z-index: 1;
}

::view-transition-new(preview) {
    z-index: 2;
}



.mdxeditor-root-contenteditable {
    & > div:nth-child(1) {
        overflow: hidden;
        height: 100%;
    }
}

.mdxeditor-popup-container {
    display: none;
}


.no-scrollbar::-webkit-scrollbar {
    display: none;
}

.no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

